<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
       
       <bean id="XlncDS" class="org.apache.commons.dbcp.BasicDataSource">
       		<property name="driverClassName"  value="com.mysql.jdbc.Driver"></property>  
	        <property name="url" value="jdbc:mysql://localhost:3306/pramati"></property>  
	        <property name="username" value="web"></property>  
	        <property name="password" value="web"></property>
       </bean>
       
       <bean id="pmf" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
       		<property name="dataSource" ref="XlncDS" />
       		<property name="packagesToScan" value="com.xlncinc.client.model"></property>
       		<property name="hibernateProperties">
	            <props>
	            	<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>  
	                <prop key="hibernate.show_sql">true</prop>
	                <prop key="hibernate.hbm2ddl.auto">create</prop>
	                <prop key="javax.persistence.validation.mode">none</prop>
	            </props>
	        </property>
       </bean>
       
       <bean id="PersistentDependentService" class="com.xlncinc.core.services.PersistentDependentServiceImpl">
       		<constructor-arg index="0" ref="pmf" />
       </bean>
       
       <bean id="PersonService" class="com.xlncinc.client.services.PersonServiceImpl" />
       
       <bean id="PersonDAO" class="com.xlncinc.client.dao.PersonDAOImpl">
       		<constructor-arg index="0" ref="pmf" />
       </bean>
       
       <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
       		<property name="sessionFactory" ref="pmf" />
       </bean>
       
       <tx:annotation-driven transaction-manager="transactionManager" />
       
</beans>